.jqbar
{
    position: relative;
    top: 10px;
}
.jqbar.vertical
{
    text-align: center;
    display: inline-block;
}
.jqbar.vertical span
{
    display: block;
    font-size: 11px;
    font-weight: bold;
}
.jqbar.vertical .bar-percent
{
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    height: 5px;
    margin-bottom: 5px;
    width: 100%;
}
.jqbar.vertical .bar-level-wrapper
{
    position: relative;
    display: inline-block;
    overflow: hidden;
}
.jqbar.vertical .bar-level
{
    position: absolute;
	
}

/*horizontal*/

.jqbar.horizontal span
{
    display: inline-block;
    margin-left: -2px;
    font-size: 9px;
	line-height: 4px;
    font-weight: bold;
	height: 2px;
	margin-top: -10px;

}
.jqbar.horizontal .bar-percent
{
    font-size: 9px;
    font-weight: bold;
    height: 5px;
    margin-bottom: 0px;	
	margin-top: -10px;
}

